<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UnitTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>htmlppleSample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>htmpple.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>htmppleSample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6104D19716B28CD500B5E464</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>61D2DC4216DD849D0069E6A9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>61E8E3F91695C5B600DC5C83</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>61E8E41A1695C5B600DC5C83</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
